certifi
cffi==1.13.2
chardet==3.0.4
cryptography==2.8
cx-Freeze==6.1
et-xmlfile==1.0.1
idna==2.8
jdcal==1.4.1
openpyxl==3.0.2
pycparser==2.19
pygame==1.9.4
pyodbc==4.0.28
requests==2.21.0
simple-draw==2.6.2
six==1.13.0
termcolor==1.1.0
urllib3==1.24.2
xlrd==1.2.0
